@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Bold.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Black.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Italic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Medium.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Light.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Thin.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Italic.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Black.woff2WorkSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/WorkSans-Black.woff2WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

